$color-fondoweb:#191919;
$anchogeneral:100%;

body{
	background-color: $color-fondoweb;
}

header{
	width: $anchogeneral;
}

h1, h3, .logo, .video-full, .img-ppal img, .tresimg, .notas, .contenedortextos, .origenes{
	width: $anchogeneral;
	}
