$color-fondoweb:#191919;
$anchogeneral:100%;

body{
	background-color: $color-fondoweb;
}

header{
	width: $anchogeneral;
}

h1, h3, .imagencentral img, .imagennosotros img, .barralinks .galeria img, .cajaproducto img{
	width: $anchogeneral;
	}
